In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
from scipy.cluster.hierarchy import dendrogram, linkage, complete

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("features.csv")
df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2012-11-09,61.24,3.314,11421.32,3370.89,40.28,4646.79,6154.16,223.481307,6.573,False
1,1,2012-11-16,52.92,3.252,9696.28,292.10,103.78,1133.15,6612.69,223.512911,6.573,False
2,1,2012-11-23,56.23,3.211,883.59,4.17,74910.32,209.91,303.32,223.561947,6.573,True
3,1,2012-11-30,52.34,3.207,2460.03,NaN,3838.35,150.57,6966.34,223.610984,6.573,False
4,1,2012-12-07,64.12,3.198,6343.16,NaN,270.00,2928.90,10147.90,223.660021,6.573,False

In [ ]:
df.info()

In [ ]:
standarirasi = df.copy()

In [ ]:
standarirasi.drop(['Store','Date'], axis=1, inplace=True)

standarirasi

In [ ]:
standarirasi_Iris = standarirasi.loc[:]
standarirasi_Iris.head()

In [ ]:
model = KMeans(n_clusters=3)

standarirasi_Iris["IsHoliday"] = standarirasi_Iris.IsHoliday
points = standarirasi_Iris[["Temperature","Fuel_Price"]]

model.fit(points)

labels = model.labels_ 

print(labels)

In [ ]:
plt.style.use('Solarize_Light2')

ctr = model.cluster_centers_

ctr_x = ctr[:,0]
ctr_y = ctr[:,1]

plt.figure(1, figsize=(7,5))
plt.scatter(points["Temperature"], points["Fuel_Price"], alpha=1, c=labels)
plt.scatter(ctr_x, ctr_y, marker="D", s=50, label="Centroid", c='red')

plt.title("KMeans Clustering")
plt.xlabel("Temperature")
plt.ylabel("Fuel Price")
plt.legend()

plt.show()

In [ ]:
dsk_Iris = pd.DataFrame({"labels": labels,"country": standarirasi_Iris.IsHoliday})
ct_Iris = pd.crosstab(dsk_Iris["labels"], dsk_Iris["country"])
ct_Iris